@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/*Botão Hamburguer*/
#menu-toggle{
    display: none;
}

/*Header*/
header {
  background-color: #000000;
  height: 15vh;
  position: relative;
}

.logo {
  width: 120px;
  height: 120px;
}

.naveg {
  display: flex;
  gap: 1.5rem;
}

.conta {
  padding: 7px 10px;
  border: #cd8913 1.5px solid;
  background-color: #050609;
  color: #fff;
  border-radius: 7px;
  transition: .5s ease-in-out;
}
.conta:hover {
  box-shadow: #cd8913 0px 0px 10px;
  transform: scale(1.1);
  color: #fdfdfd;
}
.conta:active {
  background-color: #cd8913;
  color: #ffffff;
  transition: .2s ease-in-out;
}

/*Main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
    width: 100%;
    height: 80vh;
    padding: 10px;
    margin: 10px;
}

/*Editando Card*/
.card{
    border: #000000 2px solid;
    border-radius: 7px;
    background-color: #050609;
    width: 500%;
    height: 70vh;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Editado Estrela*/
.star{
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: end;
    padding: 0 4%;
}

.star button{
    width: 4vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #cd8913;
    background-color: transparent;
    border: none;
}

.star button:hover{
    color: #ffffff;
}

picture{
    border-radius: 7px;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

picture img{
    width: 300px;
    height: 300px;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: 20vh;
    padding: 0 4%;
}

.text{
    display: flex;
    flex-direction: column;
    justify-items: start;
    color: #ffffff;
    gap: 5px;
}

.text h1,h2,p{ /*Itens ficarem mais juntos*/
    padding: 0;
    margin: 0;
}

.button button{
    border: 2px solid #ffffff;
    border-radius: 7px;
    color: #ffffff;
    background-color: transparent;
    padding: 7px;
    transition: .3s ease-in-out;
}

.button button:hover{
    background-color: #ffffff;
    color: #050609;
}

/*Botão hamburguer*/
/* BOTÃO HAMBÚRGUER */
.menu-toggle {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 2000;
}

/* MOBILE */
@media screen and (max-width: 729px) {
  .menu-toggle {
    display: block;
  }

  .naveg {
    display: none;
    flex-direction: column;
    background-color: #000;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    z-index: 1000;
  }

  .naveg.show {
    display: flex;
  }

  .conta {
    display: none;
  }

  .imgproduto {
    height: 180px;
    width: 100%;
    object-fit: contain;
  }

  .carousel-item .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px;
  }

  .carousel-inner .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 1.5rem;
  }

  footer {
    text-align: center;
  }

  .footer-column {
    width: 100%;
    margin-bottom: 1rem;
  }

  .logo {
    width: 130px;
    height: 130px;
    align-items: center;
    margin: 0 auto;
  }
  .menu-toggle{
    color: #fff;
  }
}