body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

main {
  flex: 1;
}

header {
  background-color: #000000;
  height: 15vh;
  position: relative;
}

.logo {
  width: 120px;
  height: 120px;
}

.imgproduto {
  width: 90%;
  height: 300px;
  margin: 10px auto;
  object-fit: contain;
  border-radius: 20px;
  display: block;
  background-color: white;
  box-shadow: #cd8913 0px 0px 10px;
  transition: .5s ease-in-out;
}
.imgproduto:hover {
  transform: scale(1.03);
}

.naveg {
  display: flex;
  gap: 1.5rem;
}

.conta {
  padding: 7px 10px;
  border: #cd8913 1.5px solid;
  background-color: #050609;
  color: #fff;
  border-radius: 7px;
  transition: .5s ease-in-out;
}
.conta:hover {
  box-shadow: #cd8913 0px 0px 10px;
  transform: scale(1.1);
  color: #fdfdfd;
}
.conta:active {
  background-color: #cd8913;
  color: #ffffff;
  transition: .2s ease-in-out;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

/* BOTÃO HAMBÚRGUER */
.menu-toggle {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* MOBILE */
@media screen and (max-width: 729px) {
  .menu-toggle {
    display: block;
  }

  .naveg {
    display: none;
    flex-direction: column;
    background-color: #000;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    z-index: 1000;
  }

  .naveg.show {
    display: flex;
  }

  .conta {
    display: none;
  }

  .imgproduto {
    height: 180px;
    width: 100%;
    object-fit: contain;
  }

  .carousel-item .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px;
  }

  .carousel-inner .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 1.5rem;
  }

  footer {
    text-align: center;
  }

  .footer-column {
    width: 100%;
    margin-bottom: 1rem;
  }

  .logo {
    width: 130px;
    height: 130px;
  }
}

header nav a{
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

header nav a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #cd8913;
    transition: all .3s ease-in-out;
}

header nav a:hover::before{
    width: 100%;
}