body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

/* Ocupa o espaço até o rodapé */
main {
  flex: 1;
}

/*Header*/
header{
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}


.product-img {
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
}

footer {
  border-top: 1px solid #ccc;
}

.footer-column h5,
.footer-column h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column p {
  margin: 0;
  font-size: 14px;
}
.imgproduto {
  width: 90%;
  height: 300px; /* Aumentei de 200px para 300px */
  margin: 10px auto;
  object-fit: contain; /* Troquei cover por contain */
  border-radius: 20px;
  display: block;
  background-color: white; /* Garante que não fique fundo estranho ao redor */
  box-shadow: #cd8913 0px 0px 10px;
  transition: .5s ease-in-out;
}

.imgproduto:hover {
  transform: scale(1.02);
}

.naveg{
    font-size: 1.2rem;
    word-spacing: 1rem;
    position: relative;
    left: 1rem;
}
.text-center py-5{
    padding-bottom: 1rem;
}

.carousel-slide-container{
    position: relative;
    bottom: 22rem;
}

.conta{
    padding: 7px 10px;
    border: #cd8913 1.5px solid;
    background-color: #050609;
    color: #fff;
    border-radius: 7px;
    transition: .5s ease-in-out;
}
.conta:hover{
    box-shadow: #cd8913 0px 0px 10px;
    transform: scale(1.05);
    color: #fdfdfd;
}

.conta:active{
  background-color: #cd8913;
  color: #ffffff;
  transition: .2s ease-in-out;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
}
.carousel-control-prev {
  left: auto; /* afasta a seta da esquerda mais pro lado */
}

.carousel-control-next {
  right:  0 auto; /* afasta a seta da direita mais pro lado */
}
.logo{
  width: 120px;
  height: 120px;
}
